<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mit.community.mapper.DeviceInfoMapper">
	<update id="updateToken">
		update device_info set
		token=#{token}
		where device_id=#{deviceId}
	</update>
</mapper>