<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.AuthorizeAppHouseholdDeviceGroupMapper">

    <select id="getObjectByIds" resultType="com.mit.community.entity.AuthorizeAppHouseholdDeviceGroup">
        select * from authorize_app_household_device_group where household_id = #{household_id}
        and device_group_id = #{device_group_id};
    </select>

</mapper>


