<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.HouseHoldMapper">

    <update id="updateObjectById" parameterType="com.mit.community.entity.HouseHold">
        UPDATE household SET residence_time = #{residenceTime} WHERE household_id = #{household_id}
    </update>

</mapper>


