<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.HouseHoldMapper">
    <resultMap id="baseMap" type="com.mit.community.entity.HouseHold">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER" />
        <result property="householdName" column="household_name" javaType="String"
                jdbcType="VARCHAR" />
        <result property="gender" column="gender" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="housetype" column="housetype" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="housing" column="housing" javaType="String"
                jdbcType="VARCHAR" />
        <result property="mobile" column="mobile" javaType="String"
                jdbcType="VARCHAR" />
        <result property="authorizeStatus" column="authorize_status" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="householdStatus" column="household_status" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="labels" column="labels" javaType="Integer"
                jdbcType="INTEGER" />
    </resultMap>

    <!--更新居住期限时间-->
    <update id="updateObjectById" parameterType="com.mit.community.entity.HouseHold">
        UPDATE household SET residence_time = #{residenceTime} WHERE household_id = #{household_id}
    </update>
    <!--更新权限有效期时间-->
    <update id="updateValidityTime" parameterType="com.mit.community.entity.HouseHold">
        UPDATE household SET validity_time = #{validityTime},authorize_status = #{status} WHERE household_id = #{household_id}
    </update>
    <!--修改住户信息-->
    <update id="updateHouseholdByHouseholdId" parameterType="com.mit.community.entity.HouseHold">
        UPDATE household
        <trim prefix="set" suffixOverrides=",">
            <if test="communityCode!=null">community_code=#{communityCode},</if>
            <if test="constellation!=null">constellation=#{constellation},</if>
            <if test="householdName!=null">household_name=#{householdName},</if>
            <if test="householdStatus!=null">household_status=#{householdStatus},</if>
            <if test="authorizeStatus!=null">authorize_status=#{authorizeStatus},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="residenceTime!=null">residence_time=#{residenceTime},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="sipPassword!=null">sip_account=#{sipPassword},</if>
            <if test="sipPassword!=null">sip_password=#{sipPassword},</if>
            <if test="credentialNum!=null">credential_num=#{credentialNum},</if>
            <if test="identityType!=null">identity_type=#{identityType},</if>
            <if test="validityTime!=null">validity_time=#{validityTime},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="callMobile!=null">call_mobile=#{callMobile},</if>
        </trim>
        WHERE household_id = #{householdId}
    </update>
    <select id="getInfoList" resultMap="baseMap">
        SELECT * FROM household h LEFT JOIN household_room r ON h.household_id=r.household_id
        <where>
            <if test="zoneId!=null and zone!=''">
                AND r.zone_id=#{zoneId}
            </if>
            <if test="buildingId!=null and buildingId!=''">
                AND r.building_id=#{buildingId}
            </if>
            <if test="unitId!=null and unitId!=''">
                AND r.unit_id=#{unitId}
            </if>
            <if test="roomNum!=null and roomNum!=''">
                AND r.room_num=#{roomNum}
            </if>
            <if test="householdType!=null and householdType!=''">
                r.household_type=#{householdType}
            </if>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="getAuthorizationSetting">

    </select>
</mapper>


