<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.mapper.PersonLabelsMapper">
    <resultMap type="com.mit.community.entity.MenJinInfo" id="menJinInfoMap">
        <result property="createTime" column="createTime" javaType="String"
                jdbcType="OTHER" />
        <result property="url" column="url" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.PeopleOut" id="peopleOutMap">
        <result property="gmtModified" column="gmt_create" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
                jdbcType="OTHER" />
        <result property="name" column="name" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.WgyInfo" id="wgyInfoMap">
        <result property="id" column="id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="person_baseinfo_id" column="person_baseinfo_id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="jb" column="jb" javaType="String"
                jdbcType="VARCHAR" />
        <result property="dept" column="dept" javaType="String"
                jdbcType="VARCHAR" />
        <result property="jtzycylxfs" column="cellphone" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.entity.DeviceGroup" id="deviceGroupMap">
        <id property="id" column="id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="deviceGroupId" column="device_group_Id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="communityCode" column="community_code" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceGroupName" column="device_group_name" javaType="String"
                jdbcType="VARCHAR" />
        <result property="groupType" column="group_type" javaType="Short"
                jdbcType="INTEGER" />
        <result property="gmtCreate" column="gmt_create" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
                jdbcType="OTHER" />
        <result property="gmtModified" column="gmt_modified" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
                jdbcType="OTHER" />
    </resultMap>

    <select id="getWgyList" resultMap="wgyInfoMap">
        select a.id,a.jb,a.dept,b.cellphone,c.id as person_baseinfo_id from wgy_info a LEFT JOIN person_baseinfo b on a.person_baseinfo_id=b.id LEFT JOIN user c on b.id_card_num=c.id_card_num
        where a.dept=(select d.sjDept from wgy_info d where d.id=#{wgyId}) and a.isFzr=1
    </select>

    <select id="getMenJinList" resultMap="menJinInfoMap">
        select gmt_create as createTime,access_img_url as url from access_control where household_name=#{name} order by gmt_create desc limit 1
    </select>

    <update id="saveLabels">
        update household set labels=#{labels}
        where id=#{userId}
    </update>

    <select id="getLabelsByHousehold" resultType="String">
        select labels
        from household where household_id=#{household}
    </select>

    <select id="getRkcfByIdNum" resultType="String">
        select rksx
        from person_baseinfo where id_card_num=#{idNum}
    </select>

    <select id="getSirPersonBaseInfoId" resultType="INTEGER">
        select a.person_baseinfo_id
        from wgy_info a where a.id=(select b.sirid from wgy_info b where b.id=#{id})
    </select>

    <select id="getSirUserIdBySirPersonBaseInfoId" resultType="com.mit.community.entity.TaskMessageSirInfo">
        select a.id as userId,c.id as wgyId,c.jb
        from user a LEFT JOIN  person_baseinfo b on a.id_card_num=b.id_card_num LEFT JOIN wgy_info c on c.person_baseinfo_id=b.id where b.id=#{person_baseinfo_id}
    </select>

    <select id="getTaskMessageContent" resultType="com.mit.community.entity.TaskMessageContent">
        select c.name as wgyName,c.cellphone as cellPhone,d.gmt_create as gmtCreate,d.problemType as problemType,e.name
        from task_message a LEFT JOIN  wgy_info b on a.wgyId=b.id LEFT JOIN person_baseinfo c on b.person_baseinfo_id=c.id
        LEFT JOIN report_problem d on a.reportProblemId=d.id LEFT JOIN user e on d.userId=e.id
        where a.reportProblemId=#{reportProblemId} and a.wgyId=#{wgyId}
    </select>

    <select id="getPeopleCount" resultType="int">
        select count(*)
        from access_control where community_code='ab497a8a46194311ad724e6bf79b56de'
    </select>

    <select id="getOutCount" resultType="int">
        select outCount
        from out_people
    </select>

    <select id="getSirPhoneByPersonBaseInfoId" resultType="String">
        select cellphone
        from person_baseinfo where id=#{person_baseinfo_id}
    </select>

    <update id="updateMqlzd">
        update report_problem set mqlzd = mqlzd + 1
        where id=#{id}
    </update>

    <select id="getPeopleOue" resultMap="peopleOutMap">
        select name,gmt_create from face_comparison_data where name IN ('熊起','艾武德','柯尊勇','徐韶群') order by gmt_create desc limit 1
    </select>

    <select id="getMenJinTime" resultType="String">
        select gmt_create from access_control where household_name=#{name} order by gmt_create desc limit 1
    </select>

    <select id="getContentByTime" resultType="String">
        select content from report_problem where gmt_create=#{time}
    </select>

    <select id="getWgyDeptById" resultType="String">
        select dept from wgy_info
         where id=#{id}
    </select>

    <select id="selectInfoPage" resultMap="deviceGroupMap">
        select a.* from device_group a LEFT JOIN device_device_group b on a.device_group_id=b.device_group_id LEFT JOIN device c on b.device_num=c.device_num LEFT JOIN dnake_device_info d on c.device_mac=d.mac
        where 1= 1 ${ew.sqlSegment} <if test="sql != null and sql != ''">${sql}</if>
    </select>

    <select id="getTimeCha" resultType="String">
        select TIME_TO_SEC(TIMEDIFF(NOW(), gmt_create)) FROM dnake_device_info
        where id=#{id}
    </select>

    <select id="getGroupName" resultType="String">
        select c.device_group_name
        from device a LEFT JOIN device_device_group b on a.device_num=b.device_num LEFT JOIN device_group c ON b.device_group_id=c.id
        where a.id=#{id}
    </select>

    <select id="getMaxDeviceId" resultType="String">
        select max(device_id) from device
    </select>
</mapper>