<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.mapper.PersonLabelsMapper">
    <resultMap type="com.mit.community.entity.MenJinInfo" id="menJinInfoMap">
        <result property="createTime" column="createTime" javaType="String"
                jdbcType="OTHER" />
        <result property="url" column="url" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.PeopleOut" id="peopleOutMap">
        <result property="gmtModified" column="gmt_create" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
                jdbcType="OTHER" />
        <result property="name" column="name" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.WgyInfo" id="wgyInfoMap">
        <result property="id" column="id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="person_baseinfo_id" column="person_baseinfo_id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="jb" column="jb" javaType="String"
                jdbcType="VARCHAR" />
        <result property="dept" column="dept" javaType="String"
                jdbcType="VARCHAR" />
        <result property="jtzycylxfs" column="cellphone" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.entity.DeviceGroup" id="deviceGroupMap">
    <id property="id" column="id" javaType="Integer"
        jdbcType="INTEGER" />
    <result property="deviceGroupId" column="device_group_Id" javaType="Integer"
            jdbcType="INTEGER" />
    <result property="communityCode" column="community_code" javaType="String"
            jdbcType="VARCHAR" />
    <result property="deviceGroupName" column="device_group_name" javaType="String"
            jdbcType="VARCHAR" />
    <result property="groupType" column="group_type" javaType="Short"
            jdbcType="INTEGER" />
    <result property="timeDiffi" column="timeDiffi" javaType="String"
                jdbcType="VARCHAR" />
    <result property="gmtCreate" column="gmt_create" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
            jdbcType="OTHER" />
    <result property="gmtModified" column="gmt_modified" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
            jdbcType="OTHER" />
    </resultMap>

    <resultMap type="com.mit.community.entity.OwnerShipInfo" id="ownerShipInfo">
        <result property="carOwner" column="carOwner" javaType="String"
                jdbcType="VARCHAR" />
        <result property="ownerPhone" column="ownerPhone" javaType="String"
                jdbcType="VARCHAR" />
        <result property="zoneName" column="zoneName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="buildingName" column="buildingName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="unitName" column="unitName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="roomNum" column="roomNum" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.DeviceInfo" id="menJinMap">
        <result property="deviceName" column="deviceName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceNum" column="deviceNum" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceMac" column="deviceMac" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceCode" column="deviceCode" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceType" column="deviceType" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceSip" column="deviceSip" javaType="String"
                jdbcType="VARCHAR" />
        <result property="buildingCode" column="buildingCode" javaType="String"
                jdbcType="VARCHAR" />
        <result property="unitCode" column="unitCode" javaType="String"
                jdbcType="VARCHAR" />
        <result property="timeDiffi" column="timeDiffi" javaType="String"
                jdbcType="VARCHAR" />
        <result property="verison" column="verison" javaType="String"
                jdbcType="VARCHAR" />
        <result property="buildingName" column="buildingName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="unitName" column="unitName" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.DnakeDeviceDetailsInfo" id="dnakeDeviceDetailsInfoMap">
        <result property="communityCode" column="communityCode" javaType="String"
                jdbcType="VARCHAR" />
        <result property="zoneId" column="zoneId" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="buildingId" column="buildingId" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="unitId" column="unitId" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="deviceIp" column="deviceIp" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceMac" column="deviceMac" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceNum" column="deviceNum" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceId" column="deviceId" javaType="Integer"
                jdbcType="INTEGER" />
    </resultMap>

    <resultMap type="com.mit.community.entity.DugPeopleInfo" id="deviceBugPeopleMap">
        <result property="appUserName" column="appUserName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="communityName" column="communityName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="expireTime" column="expireTime" javaType="String"
                jdbcType="VARCHAR" />
        <result property="cellPhone" column="cellPhone" javaType="String"
                jdbcType="VARCHAR" />
        <result property="name" column="name" javaType="String"
                jdbcType="VARCHAR" />
        <result property="role" column="role" javaType="String"
                jdbcType="VARCHAR" />
        <result property="status" column="status" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="accountType" column="accountType" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.DeviceIsOnline" id="deviceIsOnlineMap">
        <result property="timeDiffi" column="timeDiffi" javaType="String"
                jdbcType="OTHER" />
        <result property="ip" column="ip" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.HighModel" id="highModelMap">
        <result property="visitorInviteCodeId" column="visitorInviteCodeId" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="timeStart" column="timeStart" javaType="String"
                jdbcType="VARCHAR" />
        <result property="timeEnd" column="timeEnd" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.AccessCardPageInfo" id="accessCardPageInfoMap">
        <result property="id" column="id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="cardType" column="cardType" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="cardMedia" column="cardMedia" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="houseHoldName" column="houseHoldName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="houseType" column="houseType" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="mobile" column="mobile" javaType="String"
                jdbcType="VARCHAR" />
        <result property="validityTime" column="validityTime" javaType="String"
                jdbcType="VARCHAR" />
        <result property="houseHoldId" column="houseHoldId" javaType="Integer"
                jdbcType="INTEGER" />
    </resultMap>

    <resultMap type="com.mit.community.entity.HouseHold" id="houseHoldMap">
        <result property="id" column="id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="constellation" column="constellation" javaType="String"
                jdbcType="VARCHAR" />
        <result property="householdId" column="household_id" javaType="Integer"
                jdbcType="VARCHAR" />
        <result property="householdName" column="household_name" javaType="String"
                jdbcType="VARCHAR" />
        <result property="householdStatus" column="household_status" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="authorizeStatus" column="authorize_status" javaType="Integer"
                jdbcType="VARCHAR" />
        <result property="gender" column="gender" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="residenceTime" column="residence_time" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" javaType="java.time.LocalDateTime"
                jdbcType="OTHER" />
        <result property="mobile" column="mobile" javaType="String"
                jdbcType="VARCHAR" />
        <result property="sipAccount" column="sip_account" javaType="String"
                jdbcType="VARCHAR" />
        <result property="sipPassword" column="sip_password" javaType="String"
                jdbcType="VARCHAR" />
        <result property="credentialNum" column="credential_num" javaType="String"
                jdbcType="VARCHAR" />
        <result property="province" column="province" javaType="String"
                jdbcType="VARCHAR" />
        <result property="city" column="city" javaType="String"
                jdbcType="VARCHAR" />
        <result property="region" column="region" javaType="String"
                jdbcType="VARCHAR" />
        <result property="birthday" column="birthday" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler" javaType="java.time.LocalDateTime"
                jdbcType="OTHER" />
        <result property="identityType" column="identity_type" javaType="Short"
                jdbcType="OTHER" />
        <result property="validityTime" column="validity_time" typeHandler="org.apache.ibatis.type.DateTypeHandler" javaType="java.sql.Date"
                jdbcType="OTHER" />
        <result property="housetype" column="housetype" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="mobileBelong" column="mobile_belong" javaType="Integer"
                jdbcType="INTEGER" />

    </resultMap>

    <resultMap type="com.mit.community.entity.AccessCard" id="accessCardMap">
        <result property="cardNum" column="card_num" javaType="String"
                jdbcType="VARCHAR" />
        <result property="cardType" column="card_type" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="cardMedia" column="card_media" javaType="Integer"
                jdbcType="INTEGER" />
    </resultMap>

    <resultMap type="com.mit.community.entity.HouseHoldPhoto" id="houseHoldPhotoMap">
        <result property="photoUrlNet" column="photo_url_net" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.mit.community.entity.HouseHoldPhotoInfo" id="houseHoldPhotoInfoMap">
        <result property="id" column="id" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="name" column="name" javaType="String"
                jdbcType="VARCHAR" />
        <result property="mobile" column="mobile" javaType="String"
                jdbcType="VARCHAR" />
        <result property="photoNetUrl" column="photoNetUrl" javaType="String"
                jdbcType="VARCHAR" />
        <result property="deviceName" column="deviceName" javaType="String"
                jdbcType="VARCHAR" />
        <result property="isUpload" column="isUpload" javaType="Integer"
                jdbcType="INTEGER" />
        <result property="diffiTime" column="diffiTime" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <select id="getHouseHoldPhotoInfo" resultMap="houseHoldPhotoInfoMap">
        select b.household_name as name,b.mobile,a.photo_url_net as photoNetUrl,a.id,a.is_upload as isUpload,c.device_num as deviceName,TIME_TO_SEC(TIMEDIFF(NOW(), d.gmt_modified)) as diffiTime
        FROM household_photo a  LEFT JOIN household b on a.household_id=b.household_id LEFT JOIN device c on a.device_num=c.device_num LEFT JOIN dnake_device_info d on c.dnake_device_info_id=d.id
        where 1= 1 and a.device_num is not null ${ew.sqlSegment}
    </select>

    <select id="selectHouseHoldPhotoByHouseHoldId" resultMap="houseHoldPhotoMap">
        select distinct photo_url_net
        FROM household_photo
        where household_id =#{houseHoldId}
    </select>

    <select id="selectAccessCardByHouseHoldId" resultMap="accessCardMap">
        select distinct card_num,card_type,card_media
        FROM access_card
        where household_id =#{houseHoldId}
    </select>

    <select id="selectHouseHoldPage" resultMap="houseHoldMap">
        select DISTINCT a.household_id,a.*
        FROM household a  LEFT JOIN household_room b on a.household_id=b.household_id
        where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectMenJinCardPage" resultMap="accessCardPageInfoMap">
        select a.id,a.card_type as cardType,a.card_media as cardMedia,b.household_name as houseHoldName,b.housetype as houseType,b.mobile,b.validity_time as validityTime,b.household_id as houseHoldId
        FROM access_card a LEFT JOIN household b on a.household_id=b.household_id LEFT JOIN household_room c on b.household_id=c.household_id
        where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="getExtisHighModel" resultMap="highModelMap">
        select b.time_day as timeDay,b.time_start as timeStart,b.time_end as timeEnd from visitor_invite_code a LEFT JOIN High_Model b
        on a.id=b.visitor_invite_code_id
        where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="pageDeviceDugPeople" resultMap="deviceBugPeopleMap">
        select a.name as name,a.doornum as expireTime,a.cellphone as cellPhone,a.face_token as accountType,b.community_name as communityName,a.cellphone as appUserName,a.identity_type as status,a.role as role
        from user a LEFT JOIN cluster_community b on a.serialnumber=b.community_code
        where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="getOwnerInfo" resultMap="ownerShipInfo">
        select a.owner_phone as ownerPhone,b.household_name as carOwner,c.zone_name as zoneName,c.building_name as buildingName,c.unit_name as unitName,c.room_num as roomNum
        from vehicle_info a LEFT JOIN household b on a.owner_phone=b.mobile LEFT JOIN household_room c on b.household_id=c.household_id
        where a.car_num=#{cph}
    </select>

    <select id="getWgyList" resultMap="wgyInfoMap">
        select a.id,a.jb,a.dept,b.cellphone,c.id as person_baseinfo_id from wgy_info a LEFT JOIN person_baseinfo b on a.person_baseinfo_id=b.id LEFT JOIN user c on b.id_card_num=c.id_card_num
        where a.dept=(select d.sjDept from wgy_info d where d.id=#{wgyId}) and a.isFzr=1
    </select>

    <select id="getMenJinList" resultMap="menJinInfoMap">
        select gmt_create as createTime,access_img_url as url from access_control where household_name=#{name} order by gmt_create desc limit 1
    </select>

    <update id="saveLabels">
        update household set labels=#{labels}
        where id=#{userId}
    </update>

    <select id="getLabelsByHousehold" resultType="String">
        select labels
        from household where household_id=#{household}
    </select>

    <select id="getRkcfByIdNum" resultType="String">
        select rksx
        from person_baseinfo where id_card_num=#{idNum}
    </select>

    <select id="getRkcfByMobile" resultType="String">
        select rksx
        from person_baseinfo where cellphone=#{mobile}
    </select>

    <select id="getSirPersonBaseInfoId" resultType="INTEGER">
        select a.person_baseinfo_id
        from wgy_info a where a.id=(select b.sirid from wgy_info b where b.id=#{id})
    </select>

    <select id="getSirUserIdBySirPersonBaseInfoId" resultType="com.mit.community.entity.TaskMessageSirInfo">
        select a.id as userId,c.id as wgyId,c.jb
        from user a LEFT JOIN  person_baseinfo b on a.id_card_num=b.id_card_num LEFT JOIN wgy_info c on c.person_baseinfo_id=b.id where b.id=#{person_baseinfo_id}
    </select>

    <select id="getTaskMessageContent" resultType="com.mit.community.entity.TaskMessageContent">
        select c.name as wgyName,c.cellphone as cellPhone,d.gmt_create as gmtCreate,d.problemType as problemType,e.name
        from task_message a LEFT JOIN  wgy_info b on a.wgyId=b.id LEFT JOIN person_baseinfo c on b.person_baseinfo_id=c.id
        LEFT JOIN report_problem d on a.reportProblemId=d.id LEFT JOIN user e on d.userId=e.id
        where a.reportProblemId=#{reportProblemId} and a.wgyId=#{wgyId}
    </select>

    <select id="getPeopleCount" resultType="int">
        select count(*)
        from access_control where community_code='ab497a8a46194311ad724e6bf79b56de'
    </select>

    <select id="getOutCount" resultType="int">
        select outCount
        from out_people
    </select>

    <select id="getSirPhoneByPersonBaseInfoId" resultType="String">
        select cellphone
        from person_baseinfo where id=#{person_baseinfo_id}
    </select>

    <update id="updateMqlzd">
        update report_problem set mqlzd = mqlzd + 1
        where id=#{id}
    </update>

    <select id="getPeopleOue" resultMap="peopleOutMap">
        select name,gmt_create from face_comparison_data where name IN ('熊起','艾武德','柯尊勇','徐韶群') order by gmt_create desc limit 1
    </select>

    <select id="getMenJinTime" resultType="String">
        select gmt_create from access_control where household_name=#{name} order by gmt_create desc limit 1
    </select>

    <select id="getContentByTime" resultType="String">
        select content from report_problem where gmt_create=#{time}
    </select>

    <select id="getWgyDeptById" resultType="String">
        select dept from wgy_info
         where id=#{id}
    </select>

    <select id="selectInfoPage" resultMap="deviceGroupMap">
        select DISTINCT a.* from device_group a LEFT JOIN device_device_group b on a.device_group_id=b.device_group_id LEFT JOIN device c on b.device_num=c.device_num LEFT JOIN dnake_device_info d on c.dnake_device_info_id=d.id
        where 1= 1 ${ew.sqlSegment} <if test="sql != null and sql != ''">${sql}</if>
    </select>

    <select id="getTimeCha" resultType="String">
        select TIME_TO_SEC(TIMEDIFF(NOW(), gmt_modified)) FROM dnake_device_info
        where id=#{id}
    </select>

    <select id="getIsOnline" resultMap="deviceIsOnlineMap">
        select TIME_TO_SEC(TIMEDIFF(NOW(), a.gmt_modified)) as timeDiffi,a.ip as ip FROM dnake_device_info a
        LEFT JOIN device b on a.id=b.dnake_device_info_id
        where b.device_num=#{deviceNum}
    </select>

    <select id="getGroupName" resultType="String">
        select c.device_group_name
        from device a LEFT JOIN device_device_group b on a.device_num=b.device_num LEFT JOIN device_group c ON b.device_group_id=c.id
        where a.id=#{id}
    </select>

    <select id="getMaxDeviceId" resultType="String">
        select max(device_id) from device
    </select>

    <select id="selectMenJinPage" resultMap="menJinMap">
        select a.device_name as deviceName,a.device_num as deviceNum,a.device_code as deviceCode,a.device_type as deviceType,a.device_sip as deviceSip,a.verison,b.mac as deviceMac,
        a.building_code as buildingCode,a.unit_code as unitCode,TIME_TO_SEC(TIMEDIFF(NOW(), b.gmt_modified)) as timeDiffi,c.building_name as buildingName,d.unit_name as unitName from device a LEFT JOIN dnake_device_info b on a.dnake_device_info_id=b.id
        LEFT JOIN building c on a.building_id=c.building_id LEFT JOIN unit d on a.unit_id=d.unit_id
        where 1= 1 ${ew.sqlSegment} <if test="sql != null and sql != ''">${sql}</if>
    </select>

    <select id="getUnBindDevice" resultMap="dnakeDeviceDetailsInfoMap">
        select a.mac as deviceMac,a.ip as deviceIp,a.id as deviceId,b.device_num as deviceNum,b.community_code as communityCode,b.building_id as buildingId,b.zone_id as zoneId,b.unit_id as unitId from dnake_device_info a LEFT JOIN device b on a.id=b.dnake_device_info_id
        where 1=1 <if test="ip != null and ip != ''">and a.ip=#{ip}</if>
    </select>

    <select id="getDevicesByDeviceGroupId" resultMap="menJinMap">
        select b.device_name as deviceName,b.device_num as deviceNum,b.device_code as deviceCode,b.device_type as deviceType,b.device_sip as deviceSip,b.verison,c.mac as deviceMac,
        b.building_code as buildingCode,b.unit_code as unitCode,TIME_TO_SEC(TIMEDIFF(NOW(), c.gmt_modified)) as timeDiffi,d.building_name as buildingName,e.unit_name as unitName
        from device_device_group a LEFT JOIN device b on a.device_num=b.device_num LEFT JOIN dnake_device_info c on b.dnake_device_info_id=c.id
        LEFT JOIN building d on b.building_id=d.building_id LEFT JOIN unit e on b.unit_id=e.unit_id
        where a.device_group_id=#{deviceGroupId}
    </select>

    <select id="getMaxHouseHoldId" resultType="String">
        select max(household_id) from household
    </select>
</mapper>