<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.mapper.PersonLabelsMapper">
    <resultMap type="com.mit.community.entity.MenJinInfo" id="menJinInfoMap">
        <result property="createTime" column="createTime" javaType="String"
                jdbcType="OTHER" />
        <result property="url" column="url" javaType="String"
                jdbcType="VARCHAR" />
    </resultMap>

    <select id="getMenJinList" resultMap="menJinInfoMap">
        select gmt_create as createTime,access_img_url as url from access_control where household_name=#{name} order by gmt_create desc limit 1
    </select>

    <update id="saveLabels">
        update household set labels=#{labels}
        where id=#{userId}
    </update>

    <select id="getLabelsByHousehold" resultType="String">
        select labels
        from household where household_id=#{household}
    </select>

    <select id="getRkcfByIdNum" resultType="String">
        select rksx
        from person_baseinfo where id_card_num=#{idNum}
    </select>

    <select id="getSirPersonBaseInfoId" resultType="INTEGER">
        select a.person_baseinfo_id
        from wgy_info a where a.id=(select b.sirid from wgy_info b where b.id=#{id})
    </select>

    <select id="getSirUserIdBySirPersonBaseInfoId" resultType="com.mit.community.entity.TaskMessageSirInfo">
        select a.id as userId,c.id as wgyId,c.jb
        from user a LEFT JOIN  person_baseinfo b on a.id_card_num=b.id_card_num LEFT JOIN wgy_info c on c.person_baseinfo_id=b.id where b.id=#{person_baseinfo_id}
    </select>

    <select id="getTaskMessageContent" resultType="com.mit.community.entity.TaskMessageContent">
        select c.name as wgyName,c.cellphone as cellPhone,d.gmt_create as gmtCreate,d.problemType as problemType,e.name
        from task_message a LEFT JOIN  wgy_info b on a.wgyId=b.id LEFT JOIN person_baseinfo c on b.person_baseinfo_id=c.id
        LEFT JOIN report_problem d on a.reportProblemId=d.id LEFT JOIN user e on d.userId=e.id
        where a.reportProblemId=#{reportProblemId} and a.wgyId=#{wgyId}
    </select>

    <select id="getPeopleCount" resultType="int">
        select count(*)
        from access_control where community_code='ab497a8a46194311ad724e6bf79b56de'
    </select>

    <select id="getOutCount" resultType="int">
        select outCount
        from out_people
    </select>

    <select id="getSirPhoneByPersonBaseInfoId" resultType="String">
        select cellphone
        from person_baseinfo where id=#{person_baseinfo_id}
    </select>

    <update id="updateMqlzd">
        update report_problem set mqlzd = mqlzd + 1
        where id=#{id}
    </update>

    <select id="getPeopleOue" resultType="String">
        select gmt_create from face_comparison_data where name='熊起' order by gmt_create desc limit 1
    </select>

    <select id="getMenJinTime" resultType="String">
        select gmt_create from access_control where household_name=#{name} order by gmt_create desc limit 1
    </select>

    <select id="getContentByTime" resultType="String">
        select content from report_problem where gmt_create=#{time}
    </select>
</mapper>