<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.mapper.UpdateRKCFMapper">
    <update id="updaterkcf">
        update person_baseinfo set rksx=#{status}
        where id=#{person_baseinfo_id}
    </update>
</mapper>