<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mit.community.mapper.WebFeedBackMapper">

    <select id="selectTestPage" resultType="com.mit.community.entity.WebFeedBack">
        select
        a.id,
        a.title,
        a.content,
        a.type,
        a.gmt_create as createTime,
        a.status,
        a.handler,
        a.remark,
        a.handletime as receiverTime,
        b.name as feedBackName,
        b.cellphone as feedBackMoblie,
        su.admin_name as handlename,
        su.community_code as communityCode
        FROM FeedBack a
        left join User b on a.user_id = b.id
        left join sys_user su on su.id = a.handler left join household c on b.household_id=c.household_id
        where 1=1 ${ew.sqlSegment}
    </select>

    <!--反馈处理-->
    <update id="updateFeedback">
        UPDATE Feedback
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="handler != null">handler = #{handler},</if>
            <if test="handletime != null">handletime = #{handletime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        WHERE id = #{id}
    </update>

</mapper>