<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mit.community.mapper.mapper.InfoSearchMapper">
    <resultMap type="com.mit.community.entity.entity.InfoSearch" id="infoSearchMap">
        <association property="personBaseInfo"
                     javaType="com.mit.community.entity.entity.PersonBaseInfo">
            <result property="id" column="id" javaType="int" jdbcType="INTEGER"/>
            <result property="idCardNum" column="id_card_num" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="name" column="name" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="formerName" column="former_name" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="gender" column="gender" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"
                    javaType="java.time.LocalDateTime"
                    jdbcType="OTHER"/>
            <result property="nation" column="nation" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="nativePlace" column="native_place" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="matrimony" column="matrimony" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="politicCountenance" column="politic_countenance" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="education" column="education" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="religion" column="religion" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="jobType" column="job_type" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="profession" column="profession" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="cellphone" column="cellphone" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="placeOfDomicile" column="place_of_domicile" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="placeOfDomicileDetail" column="place_of_domicile_detail" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="placeOfReside" column="place_of_reside" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="placeOfResideDetail" column="place_of_reside_detail" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="placeOfServer" column="place_of_server" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="photoBase64" column="phot_base64" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="label" column="label" javaType="String"
                    jdbcType="VARCHAR"/>
            <result property="rksx" column="rksx" javaType="int" jdbcType="INTEGER"/>
            <result property="age" column="age" javaType="int" jdbcType="INTEGER"/>
            <result property="isDelete" column="isDelete" javaType="int" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create"
                    typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
                    jdbcType="OTHER"/>
            <result property="gmtModified" column="gmt_modified"
                    typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"
                    jdbcType="OTHER"/>
        </association>
    </resultMap>


    <select id="selectPersonBaseInfoPage" resultMap="infoSearchMap">
    select *,birthday
    from person_baseinfo
    where 1= 1 ${ew.sqlSegment}
</select>

    <select id="selectAzbInfoPage" resultMap="infoSearchMap">
        select b.*
        from azb_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectAzbInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from azb_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectBearInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from bear_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectCxInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from cx_Info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectEngPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from engpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectFlowPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from flow_people_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectMilitaryServiceInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from militaryservice_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectPartyInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from party_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectSfInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from sfpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectSqjzpeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from sqjzpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectStayPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from staypeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectXdPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from xd_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectXmsfPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from xmsfpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectZdqsnPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from zdqsn_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectZszhPeopleInfoPage" resultMap="infoSearchMap">
        select
        b.*
        from zszh_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectPersonBaseInfo" resultMap="infoSearchMap">
        select *,birthday
        from person_baseinfo
        where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectAzbInfo" resultMap="infoSearchMap">
        select b.*
        from azb_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectAzbInfo" resultMap="infoSearchMap">
        select
        b.*
        from azb_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectBearInfo" resultMap="infoSearchMap">
        select
        b.*
        from bear_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectCxInfo" resultMap="infoSearchMap">
        select
        b.*
        from cx_Info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectEngPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from engpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectFlowPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from flow_people_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectMilitaryServiceInfo" resultMap="infoSearchMap">
        select
        b.*
        from militaryservice_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectPartyInfo" resultMap="infoSearchMap">
        select
        b.*
        from party_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectSfInfo" resultMap="infoSearchMap">
        select
        b.*
        from sfpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectSqjzpeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from sqjzpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectStayPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from staypeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectXdPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from xd_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectXmsfPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from xmsfpeople_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectZdqsnPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from zdqsn_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

    <select id="selectZszhPeopleInfo" resultMap="infoSearchMap">
        select
        b.*
        from zszh_info a left join person_baseinfo b on a.person_baseinfo_id=b.id where 1= 1 ${ew.sqlSegment}
    </select>

</mapper>



